{% extends 'base.html' %}
{% block content %}
    {% if not request.user.is_authenticated %}
    <div class="mx-auto" style="width: 385px;">
        <h1 class="display-4">KOŁO FORTUNY</h1>
        <br />
        <a href="{% url 'login' %}" type="button" class="btn btn-primary btn-lg btn-block">Logowanie</a>
        <a href="{% url 'register' %}" type="button" class="btn btn-primary btn-lg btn-block">Rejestracja</a>
    </div>
    {% else %}
        <div class="mx-auto">
            Koło fortuny v0.1
            <a style="float: right;" class="btn btn-outline-primary" href="{% url 'logout' %}" role="button">Wyloguj się</a>
            <a style="float: right; margin-right: 1px" class="btn btn-outline-secondary" href="{% url 'account' %}" role="button">Profil</a>
            <h2>Witaj {{ user.username}}</h2>
        </div>
    {% endif %}
{% endblock %}