{% extends 'base.html' %}
{% block content %}
    {% if not request.user.is_authenticated %}
    <div class="mx-auto" style="width: 385px;">
        <h1 class="display-4">KOŁO FORTUNY</h1>
        <br />
        <a href="{% url 'login' %}" type="button" class="btn btn-outline-primary btn-lg btn-block">Logowanie</a>
        <a href="{% url 'register' %}" type="button" class="btn btn-outline-primary btn-lg btn-block">Rejestracja</a>
    </div>
    {% else %}
        <div class="mx-auto">
            Koło fortuny beta v1.0
            <a style="float: right;" class="btn btn-outline-primary" href="{% url 'logout' %}" role="button">Wyloguj się</a>
            <a style="float: right; margin-right: 1px" class="btn btn-outline-secondary" href="{% url 'account' %}" role="button">Profil</a>
            <h2>Witaj {{ user.username}}</h2>
        </div>
        <br />
        <div class="mx-auto">
            <h4>Dostępne serwery gry:</h4>
            <table class="table">
                <tr>
                    <th>#</th>
                    <th>Nazwa:</th>
                    <th>Założyciel:</th>
                    <th>Ostatnia aktywność:</th>
                    <th>Liczba graczy:</th>
                    <th>
                        <a style="float: right;" class="btn btn-outline-primary" href="{% url 'create_server' %}" role="button">Stwórz gre</a>
                        <a style="float: right; margin-right: 1px" class="btn btn-outline-secondary" href="" role="button">Odśwież</a>
                    </th>
                </tr>
                {% for server in servers %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ server.name }}</td>
                        <td>{{ server.user_create.username }}</td>
                        <td>{{ server.create_date }}</td>
                        <td>{{ server.count_players }} / {{ server.max_players }}</td>
                        <td>
                            {% if server.user_create == request.user %}
                                 <a style="float: right;" class="btn btn-outline-success" href="/game/{{ server.link_string }}" role="button">>> WRÓĆ DO GRY</a>
                            {% elif server.ended %}
                                <i>Gra skończona</i>
                            {% elif server.started %}
                                <i>Rozgrywka w toku</i>
                            {% elif server.count_players != server.max_players and not owner %}
                                <a style="float: right;" class="btn btn-outline-success" href="/join?link={{ server.link_string }}" role="button">Dołącz</a>
                            {% endif %}
                            {% if server.user_create == user %}
                                <a style="float: right; margin-right: 1px" class="btn btn-outline-danger" href="{% url 'delete_server' %}?link={{ server.link_string }}" role="button">Usuń</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
{% endblock %}